/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 1080px;
    margin: auto;
}
.header-one{
    display: flex;
    background-color:#F0F0F0;
    align-content: flex-end;
    flex-direction: row-reverse;
    padding: 5px
}
.fb{
    color: darkblue;
}
.twitter{
    color: dodgerblue;
    }
.header-two{
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: end;
    align-items: center;
}
.btn a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color:#00cc99;
    font-family: "Helvetica Neue", Helvetica, Arial, STHeitiTC-light, STHeiti, "Microsoft JhengHei", 微軟正黑體, sans-serif;
}
.banner{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}
.box{
    width: 100%;
    background-color: black;
    /* opacity: 0.1; */
    position: absolute;
    top: 10px;
    right: 20px;
}
.bn{
    width: 100%;
    margin-bottom: 30px;
    
}
.course{
    display: flex;
    justify-content: space-around;
}
.course-itum{
    width: 300px;
    border: 1px solid gray;
    font-family: "Helvetica Neue", Helvetica, Arial, STHeitiTC-light, STHeiti, "Microsoft JhengHei", 微軟正黑體, sans-serif;
    padding: 15px;
    margin-bottom: 30px;
}
.course-itum h2{
    text-align: center;
    margin-bottom: 5px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, STHeitiTC-light, STHeiti, "Microsoft JhengHei", 微軟正黑體, sans-serif;
}
.text{
    color: deeppink;
}